/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {	
	background-color: black;
    overflow-x: hidden;
    background-image: url(images/web2.jpg);
    background-size: cover;
    background-position: top;
}

#container {
	margin: 5%;
	padding: 2rem 4rem;
	border-radius: 1rem;
	box-shadow: 0 3rem 26rem 0 rgba(255, 255, 255, 0.486);
}

.header {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    text-transform: lowercase;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 2rem 0;
    border-radius: 1rem;
}

section {
	background-color: #FFFFFF;
	padding: 5rem;
	border-radius: 1rem;
	color: #08042e;
	margin-bottom: 4rem;
}

/* NAV LOGO HEADER */
.navbar {
    background-image: url(images/5.jpg);
    background-size: 170%;
    background-position: right;
    border-bottom: 2rem double rgb(255, 255, 255);
}
    
.logo-container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.logo {
    width: 40%;
}

.nav-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    box-shadow: .1rem 1rem 1rem rgba(255, 255, 255, 0.616);
}

.list-item a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: 'Rock Salt', cursive;
}

.list-item a:hover {
    color: #D90467;
}


/* ABOUT */
.about-text {
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    line-height: 6.5rem;
}

/* WEBSITES */
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    border: .1rem solid grey;
    border-radius: .5rem;
    margin: 2rem 4rem;
    box-shadow: .5rem .5rem 1.5rem black;
}

.project-container:hover {
    box-shadow: 2rem 2rem 3rem black;
}

.commonP {
    margin: 5rem 3rem;
    justify-self: center;
}

.link {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    font-weight: 500;
    text-decoration: underline;
    margin: 5rem 0;
    align-self: center;
}

.link:hover {
    color: rgb(105, 105, 105);
}

.p1 {
    width: 80%;
    background-color: black;
    border: 1rem double white;
}
.p2 {
    width: 40%;
    background-image: url(images/red\ and\ black.png);
    border: 1rem double white;
}
.p3 {
    width: 40%;
    border: 1rem double black;
}



/* GRAPHIC DESIGNS */
/* SLIDESHOW */
.slideshow-wrapper {
    display: flex;
    justify-content: center;
}
.slide {
    display: flex;
    justify-content: center;
    width: 50%;
    border: .1rem solid grey;
    border-radius: .5rem;
    margin: 5rem 0;
    padding: 3rem 0;
    box-shadow: .1rem 1rem 3rem .3rem black;
}

.art1 {
    width: 90%;
}

/* ARROW BUTTONS */
.arrows {
    display: flex;
    justify-content: space-evenly;
}

.left {
    border: none;
    color: black;
    font-size: 4rem;
}

.right {
    border: none;
    color: black;
    font-size: 4rem;
}

button:hover {
    color: #D90467;
}



/* CONTACT */
.form-container {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .2fr 1fr .2fr .01fr;
    grid-template-areas: 
    'line1'
    'line2'
    'line3'
    'line4'
    'terms';
    padding: 4rem 0 2rem 0;
}

.email-form {
    font-size: 2rem; 
    background-color: #FFFFFF;
    border: .1rem solid black;
    padding: 1rem; 
    margin: .5rem;
    resize: none;
    justify-self: center;
    width: 90%;
}  

.email-form::placeholder {
    color: rgb(105, 105, 105);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.line3 {
    grid-area: line3;
    height: 20vw;
}

.email-sign {
    justify-self: center;
    background-color: #D90467;
    color: white;
    border: none;
    padding: 0 4rem;
    border-radius: .8rem;
    font-family: 'Stalemate', cursive;
    font-size: 5rem;
    margin: .5rem;
    border: .9rem double white;
}

.email-sign:hover {
    background-color: #E7056F;
}

#status {
    grid-area: terms;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
    color: black;
    width: 100%;
    justify-self: center;
    text-align: center;
    margin: .5%;
}

#status.success {
    animation: status 4s ease forwards;
}
#status.error {
    animation: status 4s ease forwards;
  }

@keyframes status {
    0% {opacity: 1; pointer-events: all;}
    90% {opacity: 1; pointer-events: all;}
    100% {opacity: 0; pointer-events: none;}
}



/* FOOTER */
.footer {
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    'logo'
    'copyright';
    background-image: url(images/web.jpg);
    background-size: 120%;
    background-position: top;
    border-top: 2rem double rgb(255, 255, 255);
    position: relative;
    margin-top: 15rem;
    margin-bottom: 0;
    border-radius: 0;
}

.foot-logo {
    grid-area: logo;
    width: 13%;
    justify-self: center;
}

.copyright {
    color: rgba(255, 255, 255, 0.808);
    justify-self: center;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}





















/* MEDIA QUERIES */
@media screen and (max-width: 1380px) {
    /* .list-item a{
        color: yellow;
    } */
    /* NAV LOGO HEADER */
    .list-item a{
        font-size: 2.8rem;
    }
    /* ABOUT */
    .about-text {
    font-size: 3.3rem;
    line-height: 6rem;
    }
    /* WEBSITES */
    .project-container {
        width: 95%;
        margin: 2rem 3rem;
    }
    .project-container:hover {
        box-shadow: 1rem 1rem 3rem black;
    }
    .link {
        font-size: 3rem;
    }
    .p1 {
        width: 75%;
    }
    /* FOOTER */
    .copyright {
        font-size: 1.3rem; 
    }
}
@media screen and (max-width: 1180px) {
    /* .list-item a{
        color: blue;
    } */
    /* NAV LOGO HEADER */
    .list-item a{
        font-size: 2.8rem;
    }
    /* ABOUT */
    .about-text {
    font-size: 3.3rem;
    line-height: 6rem;
    }
    /* WEBSITES */
    .project-container {
        width: 95%;
        margin: 2rem 3rem;
    }
    .project-container:hover {
        box-shadow: 1rem 1rem 3rem black;
    }
    .link {
        font-size: 3rem;
    }
    .p1 {
        width: 75%;
    }
    .p2 {
        width: 45%;
    }
    .p3 {
        width: 45%;
    }
    /* CONTACT */
    .email-form {
        width: 95%;
    }  
    .email-sign {
        padding: 0 3.5rem;
        font-size: 4rem; 
    }
    /* FOOTER */
    .foot-logo {
        width: 15%;
    }
    .copyright {
        font-size: 1.3rem; 
    }
}
@media screen and (max-width: 1030px) {
    /* .list-item a{
        color: red;
    } */
    /* NAV LOGO HEADER */
    .nav-container {
        margin-bottom: 8rem; 
    }
    .navbar {
        border-bottom: 1.8rem double rgb(255, 255, 255);
    }
    .list-item a{
        font-size: 2.7rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 3.1rem;
        line-height: 5.8rem;
    }
    /* WEBSITES */
    .project-container {
        width: 100%;
        margin: 2rem 0;
    }
    .project-container:hover {
        box-shadow: .8rem .8rem 3rem black;
    }
    .link {
        font-size: 2.7rem;
    }
    /* CONTACT */
    .email-form {
        width: 100%;
    }  
    .email-sign {
        font-size: 3.5rem; 
    }
    /* FOOTER */
    .footer {
        border-top: 1.8rem double rgb(255, 255, 255);
    }
    .copyright {
        font-size: 1.1rem; 
    }
}
@media screen and (max-width: 895px) {
    /* .list-item a{
        color: green;
    } */
    /* NAV LOGO HEADER */
    .list-item a{
        font-size: 2.6rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 2.8rem;
        line-height: 5.4rem;
    }
    /* WEBSITES */
    .p1 {
        border: .6rem double white;
    }
    .p2 {
        width: 50%;
        border: .6rem double white;
    }
    .p3 {
        width: 50%;
        border: .6rem double black;
    }
    .link {
        font-size: 2.2rem;
    }
    /* CONTACT */
    .email-sign {
        border: .6rem double white;
    }
}
@media screen and (max-width: 790px) {
    /* .list-item a{
        color: purple;
    } */
    /* COMMON STYLES */
    #container {
        margin: 4%;
    }
    .header {
        font-size: 2.5rem; 
    }
    /* NAV LOGO HEADER */
    .list-item a{
        font-size: 2.2rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 2.2rem;
        line-height: 4.5rem;
    }
    /* WEBSITES */
    .link {
        font-size: 2rem;
    }
    /* GRAPHIC DESIGNS */
    /* SLIDESHOW */
    .slide {
        width: 70%;
        margin: 4rem 0;
    }   
    /* ARROW BUTTONS */
    .left {
        font-size: 3.5rem;
    }
    .right {
        font-size: 3.5rem;
    }
    /* CONTACT */
    .email-form {
        font-size: 1.5rem; 
    }  
    #status {
        font-size: 1.5rem;
    }
    /* FOOTER */
    .foot-logo {
        width: 18%;
    }
    .copyright {
        font-size: .9rem; 
    }
}
@media screen and (max-width: 695px) {
    /* .list-item a{
        color: hotpink;
    } */
    /* COMMON STYLES */
    #container {
        margin: 3%;
        padding: 1rem 2.2rem;
    }
    section {
        padding: 3rem;
    }
    /* NAV LOGO HEADER */
    .nav-container {
        margin-bottom: 7rem; 
    }
    .list-item a{
        font-size: 2rem;
    }
}
@media screen and (max-width: 595px) {
    /* .list-item a{
        color: yellowgreen;
    } */
    /* COMMON STYLES */
    #container {
        margin: 1%;
    }
    /* NAV LOGO HEADER */
    .navbar {
        border-bottom: 1.5rem double rgb(255, 255, 255);
    }
    .list-item a {
        font-size: 2rem;
    }
    /* WEBSITES */
    .link {
        font-size: 1.7rem;
    }
     /* CONTACT */
     .email-sign {
        font-size: 2.8rem; 
    }
    /* FOOTER */
    .footer {
        border-top: 1.5rem double rgb(255, 255, 255);
        margin-top: 5rem;
    }
    .copyright {
        font-size: .7rem; 
    }
}
@media screen and (max-width: 495px) {
    /* .list-item a {
        color: goldenrod;
    } */
    /* COMMON STYLES */
    section {
        padding: 2rem;
    }
    .header {
        font-size: 2rem; 
    }
    /* NAV LOGO HEADER */
    .nav-container {
        margin-bottom: 6rem; 
        box-shadow: .1rem .5rem 1rem rgba(255, 255, 255, 0.616);
    }
    .navbar {
        border-bottom: 1.2rem double rgb(255, 255, 255);
    }
    .list-item a {
        font-size: 1.7rem;
    }
    /* WEBSITES */
    .link {
        font-size: 1.5rem;
    }
    .p2 {
        width: 60%;
    }
    .p3 {
        width: 60%;
    }
    /* GRAPHIC DESIGNS */
    /* SLIDESHOW */
    .slide {
        width: 80%;
    }   
    /* ARROW BUTTONS */
    .left {
        font-size: 3rem;
    }
    .right {
        font-size: 3rem;
    }
    /* FOOTER */
    .footer {
        border-top: 1.2rem double rgb(255, 255, 255);
    }
}

@media screen and (max-width: 420px) {
    /* .list-item a {
        color: grey;
    } */
    /* COMMON STYLES */
    #container {
        padding: 1rem 2rem;
    }
    /* NAV LOGO HEADER */
    .list-item a {
        font-size: 1.3rem;
    }
    /* WEBSITES */
    .project-container {
        grid-template-columns: 1fr;
    }
    .link {
        text-align: center;
        font-size: 2rem;
        margin: 1rem 0;
    }
    /* CONTACT */
    .line3 {
        height: 60vw;
    }
    /* FOOTER */
    .footer {
        background-size: 140%;
    }
}

@media screen and (max-width: 375px) {
    /* .list-item a {
        color: pink;
    } */
    /* NAV LOGO HEADER */
    .nav-container {
        margin-bottom: 5rem; 
    }
    .navbar {
        border-bottom: 1rem double rgb(255, 255, 255);
    }
    .list-item a {
        font-size: 1.1rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 2rem;
        line-height: 4rem;
    }
    /* GRAPHIC DESIGNS */
    /* SLIDESHOW */
    .slide {
        width: 90%;
        margin: 3rem 0;
    }   
    /* ARROW BUTTONS */
    .left {
        font-size: 2.5rem;
    }
    .right {
        font-size: 2.5rem;
    }
    /* FOOTER */
    .footer {
        border-top: 1rem double rgb(255, 255, 255);
    }
    .copyright {
        font-size: .5rem; 
    }
}
@media screen and (max-width: 318px) {
    /* .list-item a {
        color: turquoise;
    } */
    /* COMMON STYLES */
    #container {
        padding: 1rem 1.3rem;
    }
    section {
        padding: 1rem;
    }
    .header {
        font-size: 1.5rem; 
    }
    /* NAV LOGO HEADER */
    .nav-container {
        margin-bottom: 3rem; 
    }
    .navbar {
        border-bottom: 1rem double rgb(255, 255, 255);
    }
    .list-item a {
        font-size: .9rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    /* WEBSITES */
    .p2 {
        width: 65%;
    }
    .p3 {
        width: 65%;
    }
    .link {
        font-size: 1.5rem;
    }
    /* CONTACT */
    .email-form {
        width: 90%;
    }
    .email-sign {
        font-size: 2rem;
        padding: 0 3rem;
    }
    /* FOOTER */
    .footer {
        border-top: 1rem double rgb(255, 255, 255);
        background-size: 160%;
    }
}
@media screen and (max-width: 220px) {
    /* .list-item a {
        color: darkred;
    } */
    /* COMMON STYLES */
    #container {
        padding: 1rem;
    }
    section {
        padding: .5rem;
    }
    /* NAV LOGO HEADER */
    .nav-container {
        margin-bottom: 3rem; 
    }
    .navbar {
        border-bottom: .5rem double rgb(255, 255, 255);
    }
    .list-item a {
        font-size: .7rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    /* CONTACT */
    .email-form {
        font-size: 1rem;
    }
    /* FOOTER */
    .footer {
        border-top: .5rem double rgb(255, 255, 255);
        background-size: 170%;
    }
    .foot-logo {
        width: 20%;
    }
}