/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {	
	background-color: black;
    overflow-x: hidden;
    background-image: url(images/web2.jpg);
    background-size: cover;
    background-position: center;
}

#container {
	margin: 5%;
	padding: 2rem 4rem;
	border-radius: 1rem;
	box-shadow: 0 3rem 26rem 0 rgba(255, 255, 255, 0.486);
    
}

.header {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    text-transform: lowercase;
}

/* .bio-pic {
    width: 40%;
    height: 100%;
    border-radius: 60%;
} */

section {
	background-color: #FFFFFF;
	padding: 5rem;
	border-radius: 1rem;
	color: #08042e;
	margin: 4rem 0;
    font-size: 3rem;
}

/* NAV LOGO HEADER */

.navbar {
    background-image: url(images/5.jpg);
    background-size: 170%;
    background-position: right;
    border-bottom: 2rem double rgb(255, 255, 255);
    justify-content: center;
    display: flex;
}
.heading {
    width: 40%;
    /* color: white;
    text-align: center;
    font-family: 'Reggae One', cursive;
    font-size: 20rem;
    text-shadow: 1.5rem .5rem .1rem black; */
}

.nav-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    box-shadow: .1rem 1rem 1rem rgba(255, 255, 255, 0.616);
}

.list-item a{
    text-decoration: none;
    color: white;
    /* padding: 0 22rem; */
    font-size: 3rem;
    font-family: 'Rock Salt', cursive;
    background-color: black;
}

.list-item a:hover {
    /* color: #A68D44; */
    /* color: #F2D95C; */
    /* color: #F2E8B3; */
    /* color: #BBBF3B; */
    /* color: #A67A46; */
    color: #D90467;
}


/* ABOUT */
.about-text {
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    line-height: 6.5rem;
}

/* PROJECTS */

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    border: .1rem solid grey;
    border-radius: .5rem;
    margin: 2rem 4rem;
    box-shadow: .5rem .5rem 1.5rem black;
}

.project-container:hover {
    box-shadow: 2rem 2rem 3rem black;
}

.commonP {
    margin: 5rem 3rem;
    justify-self: center;
}

.link {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    text-decoration: underline;
    margin: 5rem 0;
    align-self: center;
}

.link:hover {
    color: rgb(105, 105, 105);
}

.p1 {
    width: 80%;
    background-color: black;
    
}
.p2 {
    width: 40%;
}

.p3 {
    width: 40%;
    background-image: url(images/red\ and\ black.png);
}

/* CONTACT */
.form-container {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 4fr .5fr;
    grid-template-areas: 
    'line1'
    'line2'
    'line3'
    'line4'
    'terms';
    padding: 4rem 0 2rem 0;
}

.email-form {
    font-size: 2rem; 
    background-color: #FFFFFF;
    border: .1rem solid black;
    padding: 1rem; 
    margin: .5rem;
    resize: none;
    justify-self: center;
    width: 90%;
}  

.email-form::placeholder {
    color: rgb(105, 105, 105);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.line1 {
    grid-area: line1;
}
.line2 {
    grid-area: line2;
}
.line3 {
    grid-area: line3;
    height: 20vw;
}
.line4 {
    grid-area: line4;
}

.email-sign {
    justify-self: center;
    background-color: #D90467;
    color: white;
    border: none;
    padding: 2rem 5rem;
    border-radius: .8rem;
    font-family: 'Neonderthaw', cursive;
    font-size: 4rem;
    margin: .5rem;
}

.email-sign:hover {
    background-color: #E7056F;
}

#status {
    grid-area: terms;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
    color: black;
    width: 100%;
    justify-self: center;
    text-align: center;
    margin: .5%;
}

#status.success {
    animation: status 4s ease forwards;
}
#status.error {
    animation: status 4s ease forwards;
  }

@keyframes status {
    0% {opacity: 1; pointer-events: all;}
    90% {opacity: 1; pointer-events: all;}
    100% {opacity: 0; pointer-events: none;}
}



/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    'logo'
    'copyright';
    background: none;
    border-top: .3rem solid white;
    height: 10vw;
}

.foot-logo {
    grid-area: logo;
    width: 13%;
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
}

.copyright {
    color: rgba(255, 255, 255, 0.808);
    justify-self: center;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}





















/* MEDIA QUERIES */
@media (max-width: 1180px) {
   /* body {
       background: red;
   } */
   /* NAV BAR */
    .navbar {
        height: 28vw;
        top: -28vw;
    }
    .mini-nav-link {
        font-size: 3.5rem; 
    }
    .menu.pull {
        top: 30vw;
    }
    .menu::before {
        height: 31.1vw;
        top: -31vw; 
    }
}
@media (max-width: 960px) {
    /* body {
        background: yellow;
    } */
    /* NAVBAR */
    .menu {
        right: .5rem;
    }
    /* ABOUT */
    .about-text {
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media (max-width: 850px) {
    /* body {
        background: green;
    } */
    /* COMMON STYLES */
    #container {
        margin: 6.5%;
        padding: .8rem 3.5rem;
    }
    .header {
        font-size: 2.5rem;
    }
    /* LOGO */
    .invisible-home-link {
        font-size: 5rem;
    }
    .mini-logo {
        width: 40vw;  
    }
    /* NAV BAR */
    .navbar {
        height: 42vw;
        top: -43vw;
    }
    .mini-nav-link {
        font-size: 2.5rem; 
        line-height: 3.5rem;
    }
    .spidey {
        width: 70%;
        padding-left: 1.6rem;
    }
    .menu.pull {
        top: 44vw;
    }
    .menu::before {
        height: 44.1vw;
        top: -44vw; 
    }
    /* ABOUT */
    .about-text {
        font-size: 2rem;
        line-height: 4rem;
    }
    /* CONTACT */
    .email-form {
        font-size: 1.7rem; 
    }  
    .email-sign {
        font-size: 1.5rem;
    }  
}
@media (max-width: 550px) {
    /* body {
        background: orange;
    } */
    /* COMMON STYLES */
    #container {
        margin: 5%;
        padding: .5rem 3rem;
    }
   .header {
        font-size: 2rem;
    }
    /* NAVBAR */
    .mini-nav-list {
        height: 30vw;
    }
    /* CONTACT */
    .email-sign {
        font-size: 1.5rem;
        width: 30%;
        padding: 1rem 2rem;
    }  
}
@media (max-width: 470px) {
    /* body {
        background: lightblue;
    } */
    #container {
        margin: 2%;
        padding: .5rem 1.5rem;
    }
    /* LOGO */
    .invisible-home-link {
        font-size: 4rem;
    }
    .mini-logo {
        width: 50vw;  
    }
    /* NAV BAR */
    .navbar {
        height: 52vw;
        top: -53vw;
    }
    .spidey {
        width: 50%;
        padding-left: 3.1rem;
    }
    .menu {
        right: -2rem;
    }
    .menu.pull {
        top: 56vw;
        right: -2rem;
    }
    .menu::before {
        height: 56.1vw;
        top: -56vw; 
    }
}
@media (max-width: 396px) {
    /* body {
        background: purple;
    } */
    .header {
        font-size: 2rem;
    }
     /* NAV BAR */
     .navbar {
        height: 63vw;
        top: -64vw;
    }
    .mini-nav-list {
        height: 50vw;
    }
    .mini-nav-link {
        font-size: 2rem;
    }
    .spidey {
        width: 30%;
        padding-left: 4.9rem;
    }
    .menu {
        right: -4rem;
    }
    .menu.pull {
        top: 66vw;
        right: -4rem;
    }
    .menu::before {
        height: 66.1vw;
        top: -66vw; 
    }
    /* ABOUT */
    .about-text {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    /* CONTACT */
    .email-sign {
        width: 40%;
    }  
}



