/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);
    /* does not work if overflow = visible */
    overflow: hidden;
    /* only works with absolute positioning */
    position: absolute;
    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;
    /* safari hack */
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

/* HEAD LANDING PAGE */
header {
    height: 200vh;
}

.container_solid {
    background: #FFFFFF;
    /* position this container at the top of its parent element */
    top: 0;
}

.title_wrapper {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1{
    text-align: center;
    font-size: 20rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3rem;
}

.title_wrapper span {
    font-size: 5rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container_solid .title_wrapper h1 {
    /* the text background */
    background: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    /* clip the text is possible */
    text-emphasis-color: transparent;
        -webkit-text-fill-color: transparent;
    background-clip: text;
        -webkit-background-clip: text;
    /* fallback text color */
    color: #601480;
}

.container_image {
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* position the second container below the first container */
    top: 100vh;
}

.container_image .title_wrapper h1 {
    color: #FFFFFF;
}

/* NAVBAR */
.section-navbar{
    min-height: 10vh;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.banner button {
    /* margin-left: 35%; */
    width: 30rem;
    padding: 1.5rem;
    background-image: url(images/navbar.jpg);
    background-size: cover;
    border: none;
    outline: none;
    border-radius: 10rem;
    transform: perspective(100rem) rotateY(-5deg);
    box-shadow: 0 .8rem .8rem 0 rgba(115, 112, 110, .9);
    cursor: pointer;
    overflow: hidden;
    animation: buttonAnim 3s .5s backwards;
    transition: all .5s;
}

.banner a {
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    color: #FFFFFF;
}

.banner button:hover {
    transform: perspective(100rem) rotateY(5deg);
    box-shadow: 0 .8rem .8rem 0 rgba(115, 112, 110, .45);
}

@keyframes buttonAnim {
    0% {opacity: 0}
    100% {opacity: 1}
}

.banner button::before {
    content: '';
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, transparent, #FFFFFF, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left .5s;
}

.banner button:hover::before {
    left: 100%;
}



/* END OF CONTAINER */

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1350px) {
    /* .container_solid {
        background: hotpink;
    } */
    .title_wrapper h1 {
        font-size: 18rem;
        letter-spacing: 2.5rem;
    }
    .title_wrapper span {
        font-size: 4.5rem;
    }
}
@media (max-width: 1200px) {
    /* .container_solid {
        background: blueviolet;
    } */
    .title_wrapper h1 {
        font-size: 14rem;
        letter-spacing: 1.5rem;
    }
    .title_wrapper span {
        font-size: 4rem;
    }
}
@media (max-width: 960px) {
    /* .container_solid {
        background: lightcoral;
    } */
    .title_wrapper h1 {
        font-size: 12rem;
    }
    .title_wrapper span {
        font-size: 3.6rem;
    }
}
@media (max-width: 790px) {
    /* .container_solid {
        background: lightblue;
    } */
    .title_wrapper h1 {
        font-size: 10rem;
    }
    .title_wrapper span {
        font-size: 3.2rem;
    }
}
@media (max-width: 620px) {
    /* .container_solid {
        background: grey;
    } */
    .title_wrapper h1 {
        font-size: 8rem;
        letter-spacing: 1.2rem;
    }
    .title_wrapper span {
        font-size: 2.8rem;
    }
    /* NAVBAR */
    .section-navbar{
    min-height: 11vh;
    }
    .banner button {
    width: 25rem;
    }
    .banner a {
    font-size: 2.1rem; 
    }
}
@media (max-width: 492px) {
    /* .container_solid {
        background: lightgreen;
    } */
    .title_wrapper h1 {
        font-size: 5rem;
        letter-spacing: .8rem;
    }
    .title_wrapper span {
        font-size: 2rem;
    }
    /* NAVBAR */
    .banner button {
        width: 20rem;
    }
    .banner a {
        font-size: 1.8rem; 
    }
}
@media (max-width: 376px) {
    /* .container_solid {
        background: seagreen;
    } */
    .title_wrapper h1 {
        font-size: 4rem;
        letter-spacing: .5rem;
    }
    .title_wrapper span {
        font-size: 1.8rem;
    }
    /* NAVBAR */
    .banner button {
        width: 18rem;
    }
    .banner a {
        font-size: 1.6rem; 
    }
}
@media (max-width: 325px) {
    /* .container_solid {
        background: goldenrod;
    } */
    .title_wrapper h1 {
        font-size: 3rem;
    }
    .title_wrapper span {
        font-size: 1.5rem;
    }
     /* NAVBAR */
     .banner button {
        width: 15rem;
    }
    .banner a {
        font-size: 1.2rem; 
    }
}




